.avatar{
    -fx-background-color: DARKORANGE;
}

.headerLabels{
    -fx-text-fill: white;
    -fx-background-color: DARKMAGENTA;
}

.menu-bar{
    -fx-background-color: DARKORANGE;
    -fx-text-fill: white;
}

Button {
    -fx-background-color: DARKMAGENTA;
    -fx-text-fill: white;
}

BorderPane {
    -fx-background-color: DARKOLIVEGREEN;
    -fx-border-color: DARKMAGENTA;
}