.avatar{
    -fx-background-color: firebrick;
}

.headerLabels{
    -fx-text-fill: white;
    -fx-background-color: firebrick;
}

.menu-bar{
    -fx-background-color: firebrick;
    -fx-text-fill: white;
}

Button {
    -fx-background-color: firebrick;
    -fx-text-fill: white;
}

BorderPane {
    -fx-background-color: gold;
    -fx-border-color: black;
}